<header>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <span router-link="/">Confecções Trindade</span>


    <span class="example-spacer"></span>

    <a mat-flat-button routerLink="home">Home</a>
    <a mat-flat-button routerLink="/adm">Adm</a>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>

  </mat-toolbar>
</header>


<main>
  <router-outlet></router-outlet>
</main>
