<div class="lyout-dash">
  <div class="menulateral" color="primary">

    <button mat-raised-button color="primary" class="w-100 mb-2">Dashbord</button>

    <button mat-raised-button color="primary" class="w-100 mb-2" [matMenuTriggerFor]="menu">Cadastros</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="[{outlet: { adm: ['/cadastro-cliente']} }]">Cliente</button>
      <button mat-menu-item routerLink="cadastro-produto">Produto</button>
    </mat-menu>

  </div>

  <main>
    <app-produto></app-produto>
  </main>
</div>
